
*{
    box-sizing: border-box;
}
body, html{
    font-family:sans-serif;
}

.container{
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    column-gap: 12px;
    row-gap: 12px;
}
/* mobile*/
.item{
    grid-column-start: span 12;
    border:1px solid red;
    background-color:#BBBB99;
}

#mobiel{
    display:block;
}
#desktop{
    display:none;
}

.m4{
    margin:4px;
}

@media screen and (min-width:720px){
    .item{
        grid-column-start: span 4;
        border:1px solid green;
    }

    #mobiel{
        display:none;
    }
    #desktop{
        display:block;
    }

   
}